/* .container{
    display: grid;
    
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    margin-right: 20px;
}

.div{
    grid-area: main;
    padding: 16px 20px;
    
}
.form1{
    width: 100% ; 
    margin-top: 3px ;
    display: flex ;
    flex-direction: column ;
    justify-content: flex-start;
    align-items: flex-start ;
}

.main{
    display: inline-block;
}

.parent{
    margin:10px;
    padding:5px ;
    text-align: center;
}

.child{
    display: inline-block;
    border: 1px solid black;
    padding: 5px;
    vertical-align: middle;
} */

.appBarSearch {
    border-radius: 4;
    margin-bottom: 1rem;
    padding: 16px;
    box-shadow: 12px 13px 14px 13px rgb(207, 207, 207);;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    text-align: left;
    align-items:stretch;
    width: 23%;

    
}
.appBarSearch input{
    width: 70%;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 30px;
    display: flex ;
    flex-wrap:  wrap ;
    justify-content:stretch ;
    align-items: stretch;
}
.pagination {
    border-radius: 4;
    margin-top: 1rem;
    padding: 16px;
}

.gridContainer {
    /* [theme.breakpoints.down('xs')]: { */
    flex-direction: column-reverse;
    /* } */
}

.searchButton {
    color: white;
    background-color: blue;
    width: 70%;
    height: 30px;
    
}