.root {
    margin-bottom: 7px;
    background:white ;
    justify-content: space-evenly ;
    margin: 10px 0 ;
    
}
.paper {
    padding: 5px;
    background: white ;
    /* border: 1px dotted; */
    box-shadow: 1px 0px 24px 0px rgba(100,100,100,0.75);
    width: 25%
    
}
.paper1 {
    padding: 10px;
    background: white ;
    margin-top: 30px;
    width: 380px;
    box-shadow: 12px 13px 14px 13px rgb(207, 207, 207);
    
}
.form {
    display: flex ;
    flex-wrap: wrap ;
    justify-content: center ;
    align-items: center;
    
}

.fileInput {
    width: 80% ;
    margin: 10px 20px ;
    
}
.buttonSubmit {
    margin-bottom: 14px ;
    color: white ;
    background: blue ;
    width: 80%;
    height: 30px;
    margin-left: 10px;
}

.buttonClear {
    margin-bottom: 14px ;
    color: white ;
    background: red ;
    width: 80%;
    margin-left: 10px;
    height: 30px;
}
.div {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    text-align: left;
    align-items:stretch;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
    padding: 5px;
    width: 100%
    
}
.title{
    margin-bottom: 5px;
    margin-top: 5px;
    width: 75%;
    
    text-align: left;
}
.info{
    margin-bottom: 5px;
    margin-top: 5px;
    width: 81%;
    height: 50px;
    
}
.tags{
    margin-bottom: 5px;
    margin-top: 5px;
    width: 80%;
    height: 30px;
    
}